<div class="container">
	<div class="row">
		<% @product.each do |product|%>
			<div class="col-lg-4">
				<div class="product">
						<%= product.title%>
						<p>
							<img src="<%= product.path_to_image%>" alt="">
						</p>
						<p>
							Description: <%= product.description%>
						</p>
						<p>
							Size: <%= product.size%> cm
						</p>
						<p>
							Price: <%= product.price%> uah
						</p>
				</div>
				<button type="button" onclick="add_to_cart(<%= product.id%>);" class="btn btn-success btn-sm">Add to cart</button>
				<br>
				<br>
			</div>
			<hr>
		<% end %>
	</div>
</div>